<% if @groups.empty? %>
  <h3>It doesn't look like you're a member of any groups yet.</h3>
  <p>Visit the <%= link_to 'Explore Groups', groups_path %> page to find your crowd, and join them!</p>
<% end %>

<% @groups.each do |group| %>
  <%= link_to group.name, group_path(group) %>
<% end %>