<section class="hero is-medium is-light">
  <div class="hero-body new-group">
    <div class="container">
      <h1 class="title is-size-1-tablet has-text-weight-bold">
        Start a new group
      </h1>
    </div>
  </div>
</section>

<div class="page-block">
  <h1></h1>

  <%= render 'form', group: @group %>
</div>