<!-- navbar for users not logged in -->

<% if !user_signed_in? %>
  <div class="buttons are-small">                
    <li class="button is-link is-light"><%= link_to 'Log in', new_user_session_path, class: "is-size-6 has-text-grey-dark has-text-weight-medium" %></li>
    <li class="button cta"><%= link_to ' Sign up ', new_user_registration_path, class: "is-size-6 has-text-white has-text-weight-bold" %></li>
  </div>
<% end %>