<section class="hero is-large is-light has-background-white">
  <div class="hero-body home">
    <div class="container">
      <div class="hero-title has-text-centered">
        <h1 class="title is-size-1-desktop has-text-weight-bold has-text-dark">
          Connect with your kind of crowd
        </h1>
        <h2 class="subtitle"><br><%= link_to 'SIGN UP', new_user_registration_path, class: "button cta is-medium has-text-white" if !user_signed_in? %></p>
      </div>      
    </div>
  </div>
</section>