<section class="hero is-medium is-light">
  <div class="hero-body new-event">
    <div class="container">
      <h1 class="title is-size-1-tablet has-text-weight-bold">
         Create a new event
      </h1>
    </div>
  </div>
</section>

<div class="page-block">
  <p class="subtitle is-7">Fields marked with <span class="notice">*</span> are required</p><br>
  
  <%= render 'form', event: @event %>
</div>