// @import url('https://fonts.googleapis.com/css?family=Ubuntu');
// $family-primary:'Poppin', sans-serif;
@import "bulma";

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #f8f8f8;
}

.container {
  max-width: 960px;
}

a {
  color: #3D9AE2;
}

a:hover, .navbar-item a:hover, .notice {
  color: #ff595c;
}

.cta {
  background: #3D9AE2;
  border: none;
}

.cta:hover {
  background: #1C2657;
}

.button.is-text {
  text-decoration: none;
}

.button.is-text:hover {
  background-color: transparent;
}

/*** NAVBAR ****/
.navbar {
  background: #F8F8F8;
}

.logo, .navbar-item a {
  color: #1C2657;
}

.fa-link {
  color: #3D9AE2;
  margin: 0 5px 0;
}

/*** FORM ***/
.input {
  width: 100%;
}

/*** HERO IMAGES ***/
.home {
  background: linear-gradient(0deg,rgba(255,255,255,0.35),rgba(255,255,255,0.35)), url(home.png) no-repeat center / cover;
}

.signup {
  background: linear-gradient(0deg,rgba(255,255,255,0.75),rgba(255,255,255,0.35)), url(signup.png) no-repeat center / cover;
}

.form {
  background: rgba(255,255,255,0.75);
  // border: 1px solid rgba(0,0,0,0.3);
}