// @import url('https://fonts.googleapis.com/css?family=Ubuntu');
// $family-primary:'Poppin', sans-serif;

@import "bulma";
@import 'bulma-extensions';

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #f8f8f8;
  box-shadow: 0 10px 15px -10px rgba(10, 14, 32, 0.12);
}

.container {
  max-width: 960px;
}

.page-block {
  box-shadow: 0 10px 15px -10px rgba(10, 14, 32, 0.12);
  background: #fff;
  min-height: 75vh;
  padding: 50px;
}

.form-block {
  background: rgba(255,255,255,0.90);
  min-height: 55vh;
}

a {
  color: #3D9AE2;
}

a:hover, .navbar-item a:hover, .notice {
  color: #ff595c;
}

.cta {
  background: #3D9AE2;
  border: none;
}

.cta:hover {
  background: #1C2657;
}

.button.is-text {
  text-decoration: none;
}

.button.is-text:hover {
  background-color: transparent;
}

.google-icon {
  margin: 0 10px 0 0; 
}

.fa-map-marker-alt, .fa-user-friends {
  margin: 0 5px 0 0;
}

/*** NAVBAR ****/
.navbar {
  background: #F8F8F8;
}

.logo, .navbar-item a {
  color: #1C2657;
}

.fa-link {
  color: #3D9AE2;
  margin: 0 5px 0;
}

/*** FORM ***/
.input {
  width: 100%;
}

/*** HERO IMAGES ***/
.home {
  background: linear-gradient(0deg,rgba(255,255,255,0.50),rgba(255,255,255,0.50)), url(home.png) no-repeat center / cover;
}

.signup {
  background: linear-gradient(0deg,rgba(255,255,255,0.50),rgba(255,255,255,0.50)), url(signup.png) no-repeat 35% 50% / cover;
}

.login {
  background: linear-gradient(0deg,rgba(255,255,255,0.50),rgba(255,255,255,0.50)), url(login.png) no-repeat center / cover;
}